<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>


<p><strong>Review:</strong><p>
<% @restaurant.reviews.each do |review| %>
<span>- <%= review.content %></span>
<span>(<%= review.rating %>)</span>
  <br>
<% end %>
<br>

<h5><%= link_to "Click here to add a new review", new_restaurant_review_path(@restaurant) %></h5>

<br>

<h6><%= link_to "Back", restaurants_path, class: "btn btn-primary" %></h6>
